
    <nav id="sidebar" class="sidebar">
        <div class="sidebar-content js-simplebar">
            <a class="sidebar-brand">
      <span class="align-middle">Visitor Admin</span>
    </a>

            <ul class="sidebar-nav">
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLinkActive="active" routerLink="dashboard/visitorList">
                      <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Visitor List</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a class="sidebar-link" routerLinkActive="active" routerLink="dashboard/addVisitor">
                        <i class="align-middle" data-feather="users"></i> <span class="align-middle">Add Visitor</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
