   

    <div class="main">
        <nav class="navbar navbar-expand navbar-light navbar-bg" >
            <a onclick="myFunction()" id="feed" class="sidebar-toggle d-flex">
            <i class="hamburger align-self-center"></i>
            </a>

            <!-- <form class="d-none d-sm-inline-block">
                <div class="input-group input-group-navbar">
                    <input type="text" class="form-control" placeholder="Search…" aria-label="Search">
                    <button class="btn" type="button">
          <i class="align-middle" data-feather="search"></i>
        </button>
                </div>
            </form> -->
            <div class="navbar-collapse collapse">
                <ul class="navbar-nav navbar-align">
                    <li class="nav-item dropdown">
                        <a onclick="myToggle()" id="profile-user" class="nav-link dropdown-toggle d-none d-sm-inline-block"  data-bs-toggle="dropdown">
                            <img src="../../../assets/images/police-small.png" class="avatar img-fluid rounded me-1" alt="Charles Hall" /> <span class="text-dark">PSF</span>
                        </a>
                        <div id="dropdown-menu-end" class="dropdown-menu dropdown-menu-end">
                            <a class="dropdown-item" >Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
