


        <div class="row mb-2 mb-xl-3">
            <div class="col-auto d-none d-sm-block">
        <h3><strong>Visitor's List</strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-xxl-12 d-flex">
                <div class="w-100">
                    <div class="card">
                      <div class="card-body">
                        
                          <table  class="row-border hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                            <!-- <table  class="row-border hover" > -->
                            
                            
                            <thead>
                              <tr>
                                <th>Sr No.</th>
                                <th>Visit Date</th>
                                <th> Visitor's Name </th>
                                <th> Visitor's Father Name</th>
                                <th> Visitor's Phone Number</th>
                                <th> Visitor's Address</th>
                                <th> Purpose of Visit</th>
                                <th> Attended Person</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr *ngFor="let visitor of visitorList; let i = index">
                                <!-- <td>{{visitor._id}}</td>  -->
                                <td>{{i+1}}</td>
                                <td>{{visitor.createdAt|date:'d/M/yy h:mm a'}}</td>
                                <td>{{visitor.visitorName}}</td>
                                <td>{{visitor.visitorFatherName}}</td>
                                <td>{{visitor.visitorPhone}}</td>
                                <td>{{visitor.visitorAddress}}</td>
                                <td>{{visitor.purpose}}</td>
                                <td>{{visitor.attenderName}}</td>
                              </tr> 
                            </tbody>
                          </table>
                      </div>
                    </div>	
                </div>
            </div>
        </div>